$fontStack:    Helvetica, sans-serif;
$primaryColor: #333;
$boxHei :100px;

@import 'reset';

@mixin box-sizing($sizing){
  -webkit-box-sizing:$sizing ;
     -moz-box-sizing:$sizing ;
          box-sizing:$sizing ;
}

body {
  font-family: $fontStack;
  color: $primaryColor;
}

.clearfix:after{
  content:"";
  clear:both;
  display: block;

}
.container{
    .box{
        width:25%;float:left;
        height:$boxHei;
        background-color:#f80;
        border:10px solid #0ff;
        @include box-sizing(border-box);
    }
}